.bigcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50rem;
    gap: 5rem !important;
}
.card {
    width: 18rem;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin-top: 12rem;
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
