.n1{
    display: flex;
    margin: 5rem 0rem 0rem 15rem;
    width: 70rem;
    height: 40rem;
    border: solid black 2px;
}
.text{
    text-align: end;
    text-align: center;
    margin: 15rem 0rem 0rem 5rem;
    width: 30rem;
    height: 20rem;
    border: solid black 2px;
}
.rasm{
    margin: 5rem 0rem 0rem 0rem;
    width: 60rem;
    height: 30rem;
    border: solid black 2px;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/d1c1/c685/ba169753f4f2982311e20e191d784b22?Expires=1705276800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hQZcLFs4B8Q04qXSmq00h~DlquDWB8MdPNMEkAwVvR78t5aXvPTsL7n3rU2m~rH0I6oTk8js1KF2-UAc2zU60RQul90-YXcOivJUi3FoSGzilEOKjmzETTfnBUCbjkrW-MZKjLkwkfJFC4zDCSjsPPmPVmG4nIGG-JCMFVRKnptSiNjU2nv~bu4IbIDgnXdpfKmg9GbYh1uvAXixySog-koBTozhDflIHxB3GUACSR82~3PHkNVq9fl~6CLEgqXksPrpKu9TELy-HWE~NbxZw-1TajJ-8i1t2jPWIVcDtxGq4grfwz2Lfa8Hxf66c6w05NH6upKcb6ZkCz1iXUwnzA__);
}
.get{
    margin: 3rem 0rem 0rem 3rem;
    width: 10rem;
    height: 3rem;
    border: solid black 2px;
}
.promise{
    margin: 0rem 10rem 0rem 0rem;
    width: 5rem;
    height: 3rem;
    border-radius: 25%;
    border: solid black 2px;
}
